<div class="registro-form">
  <mat-card>
    <mat-card-content>
      <h1>Registro Nuevo Usuario</h1>
      <form >
        <mat-form-field class="full-width-input">
          <input
          text="text"
          formControlName="cedula"
          matInput
          placeholder="Cedula"
          required />
          <!-- <mat-error *ngIf="isValidField('username')">
            {{getErrorMessage("username")}}
          </mat-error> -->
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input
          text="date"
          formControlName="date"
          matInput
          placeholder="fecha de Ingreso en la FANB"
          required />
       <!-- <mat-error *ngIf="isValidField('username')">
            {{getErrorMessage("username")}}
          </mat-error> -->
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <mat-label>Seleccionar </mat-label>
          <mat-select>
            <mat-option value="">Ejercito Bolivariono</mat-option>
            <mat-option value="">Armada Bolivariona</mat-option>
            <mat-option value="">Aviaciòn Nacional</mat-option>
            <mat-option value="">Guardia Nacional</mat-option>

          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width-input">
            <input
            text="text"
            formControlName="username"
            matInput
            placeholder="Correo Electronico"
            required />
            <!-- <mat-error *ngIf="isValidField('username')">
              {{getErrorMessage("username")}}
            </mat-error> -->
          </mat-form-field>
          <mat-form-field class="full-width-input separator">
            <input
            formControlName="password"
            matInput
            placeholder="Password"
            required/>
          </mat-form-field>
          <button
        type="submit"
        class="fadeIn Fourth"
        >Crear</button>

    </form>
    </mat-card-content>
  </mat-card>
</div>
