.espacio{
  margin-left: 30px;
}

.double {border-style: double;}

.m{
  margin-left: 1%;
}

.img {
  background-image: url("../../../../../assets/img/fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
