.img {
  background-image: url("../../../../../assets/img/fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.j{
  text-align: justify;
  text-justify: inter-word;
}

.l{
  text-align: right;
}

.margenes{
  margin-left: 0em;
  margin-top: 0em;
  margin-right: 0em;
}
